@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-v13-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/inter-v13-latin-600.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-v13-latin-700.woff2") format("woff2");
}

* {
  margin: 0;
  padding: 0;
  font-family: Inter, system-ui, sans-serif;
  box-sizing: border-box;
  font-size: clamp(1rem, 0.25rem + 1.5vw, 1.3rem);
}

:root {
  --bg-color: white;
  --text-color: black;
  --header-bg-color: black;
  --header-text-color: white;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

header {
  display: flex;
  align-items: center;
  padding: 1rem 1rem 1rem 1rem;
  height: 4rem;
  background-color: var(--header-bg-color);
  color: var(--header-text-color);
  font-weight: 600;
}

.logo-img {
  inline-size: 3rem;
  max-inline-size: 100%;
  block-size: auto;
}

.logo-text {
  color: #61dafb;
  padding-inline-start: 0.2rem;
  margin-inline-end: auto;
  font-weight: 700;
  font-size: 1.2rem;
}

header h4 {
  padding-inline-start: 1rem;
}

header a {
  color: white;
  text-underline-offset: 0.2rem;
}

header a:focus,
header a:hover {
  color: #61dafb;
}

main {
  padding: 2rem 1rem 0 2rem;
  max-inline-size: 66ch;
}

main h1 {
  font-size: 2rem;
  letter-spacing: -0.05rem;
}

main ul ::marker {
  color: #61dafb;
  font-size: 1.4rem;
}

main ul {
  padding-block-start: 1rem;
  padding-inline-start: 1rem;
}

main ul li {
  line-height: 1.5;
  padding-block-start: 1rem;
}

main ul li:last-child {
  padding-block-end: 2rem;
}

.theme-switch-wrapper {
  display: flex;
  align-items: center;

  em {
    margin-left: 0.625rem;
    font-size: 1rem;
  }
}
.theme-switch {
  display: inline-block;
  height: 2.125rem;
  position: relative;
  width: 3.75rem;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider:before {
  background-color: #fff;
  bottom: 0.25rem;
  content: "";
  height: 1.625rem;
  left: 0.25rem;
  position: absolute;
  transition: 0.4s;
  width: 1.625rem;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(1.625rem);
}

.slider.round {
  border-radius: 2.125rem;
}

.slider.round:before {
  border-radius: 50%;
}

footer {
  background-color: var(--header-bg-color);
  color: var(--header-text-color);
  padding: 1rem 1rem 1rem 1rem;
  margin-block-start: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer a {
  color: var(--header-text-color);
}

footer a:hover {
  font-size: 1.5rem;
}
