@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-v13-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/inter-v13-latin-600.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-v13-latin-700.woff2") format("woff2");
}

* {
  margin: 0;
  padding: 0;
  font-family: Inter, system-ui, sans-serif;
  box-sizing: border-box;
  font-size: clamp(1rem, 0.25rem + 1.5vw, 2rem);
}

body {
  background-color: #282d35;
  color: #deebf8;
}

navbar {
  display: flex;
  align-items: center;
  padding: 1rem 1rem 1rem 1rem;
  height: 4rem;
  background-color: #21222a;
  color: white;
  font-weight: 600;
}

.logo-img {
  inline-size: 3rem;
  max-inline-size: 100%;
  block-size: auto;
}

.logo-text {
  color: #61dafb;
  padding-inline-start: 0.2rem;
  margin-inline-end: auto;
  font-weight: 700;
  font-size: 1.2rem;
}

navbar h4 {
  padding-inline-start: 1rem;
}

main {
  padding: 2rem 1rem 0 2rem;
  max-inline-size: 66ch;
}

main h1 {
  font-size: 2rem;
  letter-spacing: -0.05rem;
}

main ul ::marker {
  color: #61dafb;
  font-size: 1.4rem;
}

main ul {
  padding-block-start: 1rem;
  padding-inline-start: 1rem;
}

main ul li {
  line-height: 1.5;
  padding-block-start: 1rem;
}

main ul li:last-child {
  padding-block-end: 2rem;
}
